<header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="#"><h1 class="site-title"><i class="fas fa-regular fa-book"></i> Museum of Natural History Database</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="/exhibit">Exhibits</a></li>
          <li class="navitem navlink"><a href="/featured">Featured Items</a></li>
          <li class="navitem navlink"><a href="/event">Events</a></li>
          <li class="navitem navlink"><a href="/employee">Employees</a></li>
          <li class="navitem navlink"><a href="/shift">Shift Details</a></li>
          
        </ul>
      </nav>
      <p>Use HTTP</p>
    </header>